/*colours*/

/*Peru = rgba(205,133,63,1)*/


*, *::before, *::after {
/* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
-webkit-box-sizing: border-box; 

/* Firefox (desktop or Android) 28- */
-moz-box-sizing: border-box;

/* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
background-color: whitesmoke;
font-family: 'Poppins', sans-serif;
color: #414141;
overflow-x: hidden;
}

h2 {
font-size: 5em;
font-family: 'Raleway', sans-serif;
}

p {
line-height: 1.7;
}



/***Full Screen Navigation***/



#nav_switch {
display: none;
}

.full-screen-navigation {
width: 0;
height: 0;
position: fixed;
z-index: 999;
top: 0;
right: 0;
transition: background 0.75s ease 0.75s, width 0s ease 1.5s, height 0s ease 1.5s, position 0s ease 1.5s;
-webkit-transition: background 0.75s ease 0.75s, width 0s ease 1.5s, height 0s ease 1.5s, position 0s ease 1.5s;
-moz-transition: background 0.75s ease 0.75s, width 0s ease 1.5s, height 0s ease 1.5s, position 0s ease 1.5s;
-o-transition: background 0.75s ease 0.75s, width 0s ease 1.5s, height 0s ease 1.5s, position 0s ease 1.5s;
}

#nav_switch:checked + .full-screen-navigation {
background: rgba(205,133,63,1);
width: 100%;
height: 100%;
z-index: 999;
position: fixed;
transition: background 1s ease 1.5s;
-webkit-transition: background 1s ease 1.5s;
-moz-transition: background 1s ease 1.5s;
-o-transition: background 1s ease 1.5s;
}

.three-bars-switch {
width: 50px;
height: 52px;
border: solid 8px black;
border-left: none;
border-right: none;
position: fixed;
z-index: 900;
top: 10px;
left: 10px;
display: block;
outline: none;
cursor: pointer;
transform: scale(1, 1) rotate(0deg);
transition: transform 0.75s ease 0.75s;
-webkit-transition: transform 0.75s ease 0.75s;
-moz-transition: transform 0.75s ease 0.75s;
-o-transition: transform 0.75s ease 0.75s;
}

#nav_switch:checked + .full-screen-navigation ~ .three-bars-switch {
transition: transform 0.75s ease 0.75s;
-webkit-transition: transform 0.75s ease 0.75s;
-moz-transition: transform 0.75s ease 0.75s;
-o-transition: transform 0.75s ease 0.75s;
transform: scale(0, 0) rotate(360deg);
}

.three-bars-switch:after {
content: "";
background: black;
width: 50px;
height: 7px;
margin: 0 auto;
position: absolute;
top: 15px;
display: block;
}

#nav_switch:checked + .full-screen-navigation ~ .three-bars-switch:after {
transition: background 0.75s;
-webkit-transition: background 0.75s;
-moz-transition: background 0.75s;
-o-transition: background 0.75s;
background: none;
}

.cross-bars-switch {
width: 50px;
height: 48px;
position: absolute;
top: 30px;
left: 30px;
outline: none;
cursor: pointer;
transform: scale(0, 0);
transition: transform 0.75s;
-webkit-transition: transform 0.75s;
-moz-transition: transform 0.75s;
-o-transition: transform 0.75s;
}

#nav_switch:checked + .full-screen-navigation > .cross-bars-switch {
transition: transform 0.75s ease 1.5s;
-webkit-transition: transform 0.75s ease 1.5s;
-moz-transition: transform 0.75s ease 1.5s;
-o-transition: transform 0.75s ease 1.5s;
transform: scale(1, 1);
}

.cross-bars-switch:before {
content: "";
background: white;
width: 60px;
height: 8px;
display: block;
transform: rotate(45deg);
position: absolute;
top: 20px;
left: -5px;
}

.cross-bars-switch:after {
content: "";
background: white;
width: 60px;
height: 8px;
display: block;
transform: rotate(-45deg);
position: absolute;
top: 20px;
left: -5px;
}

.navigation-container {
height: 450px;
font-size: 50px;
line-height: 1.75em;
margin: 0 auto;
opacity: 0;
overflow: hidden;
list-style-type: none;
transition: opacity 0.5s, margin 0.5s;
-webkit-transition: opacity 0.5s, margin 0.5s;
-moz-transition: opacity 0.5s, margin 0.5s;
-o-transition: opacity 0.5s, margin 0.5s;
}

#nav_switch:checked + .full-screen-navigation > .navigation-container {
opacity: 1;
margin: calc(30vh - 100px) auto 0;
transition: opacity 1s ease 2.50s, margin 1s ease 2.50s;
-webkit-transition: opacity 1s ease 2.50s, margin 1s ease 2.50s;
-moz-transition: opacity 1s ease 2.50s, margin 1s ease 2.50s;
-o-transition: opacity 1s ease 2.50s, margin 1s ease 2.50s;
}

.link-container {
position: relative;
display: block;
width: 100%;
text-align: center;
cursor: pointer;
}

.link-underline {
position: relative;
display: inline-block;
text-align: center;
color: white;
text-decoration: none;
text-transform: capitalize;
}

.link-underline::after {
content: '';
position: absolute;
top: 90%;
height: 5px;
width: 0%;
left: 5%;
background-color: white;
transition: 0.3s ease all;
-webkit-transition: 0.3s ease all;
-moz-transition: 0.3s ease all;
-o-transition: 0.3s ease all;
}

.link-underline:hover::after {
width: 90%;
}



/*Header Section*/



.header {
height: 100vh;
width: 100%;
background-image: url(images/headerImage.png);
background-repeat: no-repeat;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
z-index: -1;
}

.header-content {
text-transform: capitalize;
font-size: 1.2em;
text-align: center;
bottom: 4em;
right: 0.5em;
position: relative;
z-index: 2;
}

.header-content h1 {
color: rgba(205,133,63,1);
}

.header-content p {
border-right: 3px solid black;
letter-spacing: 2px;
overflow: hidden;
white-space: nowrap;
animation: typing 10s steps(23) forwards, blink-caret .8s step-end infinite;
animation-iteration-count: infinite;
}

@keyframes blink-caret {
from,to {border-color: transparent;}
50% {border-color: black;}
}

@keyframes typing {
0% {width: 0%;}
30% {width: 100%;}
80% {width: 100%;}
90% {width: 0%;}
100% {width: 0%;}
}


/*About Section*/


.about {
display: flex;
flex-direction: column;
justify-content: center;
}

.about h2 {
text-align: center;
text-transform: capitalize;
color: rgba(205,133,63,1);
padding: 0.5em;
}

.about p {
text-align: center;
font-size: 1.1em;
padding: 1em;
max-width: 900px;
margin: 0 auto;
}

.about-image {
background-image: url(images/aboutImage.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 500px;
width: 80vw;
max-width: 600px;
margin: 0 auto;
margin-bottom: 2em;
position: relative;
border-radius: 0;
}


/*Skills Section*/


.skills {
background-color: rgba(205,133,63,1);
color: rgba(205,133,63,1);
text-align: center;
text-transform: capitalize;
}

.skills-content {
display: flex;
flex-direction: column;
}

.skills h2 {
text-transform: capitalize;
padding: 0.5em;
color: white;
}

.individual-skills {
background-color: whitesmoke;
margin: 1em;
border-radius: 15px;
}

.individual-skills i {
font-size: 4em;
padding: 0.3em;
}

.individual-skills p {
font-size: 1.3em;
padding: 0.5em;
color: #414141;
}


/*Projects Section*/


.projects {
color: #414141;
padding-bottom: 2em;
}

.projects h2 {
text-align: center;
text-transform: capitalize;
color: rgba(205,133,63,1);
padding: 0.5em;
}

.swiper-container {
width: 80vw;
height: 70vh;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;
}

.image-one {
background-image: url(images/project1.png);
}

.image-two {
background-image: url(images/project2.png);
}

.image-three {
background-image: url(images/project3.png);
}

.image-four {
background-image: url(images/project4.png);
}

.image-five {
background-image: url(images/project5.png);
}

.image-six {
background-image: url(images/project6.png);
}

.swiper-overlay {
position: relative;
top: 0;
left: 0;
background-color: rgba(0,0,0,0.5);
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}

.swiper-button {
text-decoration: none;
color: whitesmoke;
width: 100px;
position: absolute;
bottom: 0;
margin: 0 auto;
margin-bottom: 5px;
margin-left: 5px;
align-self: center;
text-transform: capitalize;
background-color: rgba(205,133,63,1);
border-radius: 12px;
padding: 5px;
font-size: 0.7em;
cursor: pointer;
transition: all ease-in-out 300ms;
-webkit-transition: all ease-in-out 300ms;
-moz-transition: all ease-in-out 300ms;
-o-transition: all ease-in-out 300ms;
}

.swiper-button:hover {
background-color: rgba(205,133,63,0.9);
}

.swiper-button:focus {
background-color: rgba(205,133,63,0.9);
}

.swiper-button-next, .swiper-button-prev {
padding: 2em;
background-color: rgba(155,155,155,0.5);
border-radius: 100%;
transition: all ease-in-out 300ms;
-webkit-transition: all ease-in-out 300ms;
-moz-transition: all ease-in-out 300ms;
-o-transition: all ease-in-out 300ms;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
background-color: rgba(155,155,155,0.8);
}

.swiper-button-next:focus, .swiper-button-prev:focus {
background-color: rgba(155,155,155,0.8);
}


/*Contact Section*/


.contact-me {
background: rgba(205,133,63,1);
color: whitesmoke;
line-height: 1.6;
padding: 1em;
text-transform: capitalize;
}

.contact-me h2 {
padding: 0.5em;
text-align: center;
}

.container {
max-width: 1300px;
margin-left: auto;
margin-right: auto;
padding: 1em;
}

.wrapper > * {
padding: 1em;
}

.company-info {
background: white;
color: rgba(205,133,63,1);
text-align: center;
}

.company-info h3 {
font-size: 1.4em;
}

.company-info ul {
list-style: none;
padding: 0;
margin: 1em;
}

.company-info ul li:nth-child(3) {
text-transform: lowercase;
}

.company-info img {
width: 400px;
max-width: 400px;
height: auto;
padding: inherit;
display: none;
}

.company-info i {
padding: 0.5em;
}

.contact {
background: whitesmoke;
color: rgba(205,133,63,1);
}


/* Form Styles for Contact Section*/


.contact h3 {
font-size: 1.4em;
text-align: center;
padding: 1em;
}

.contact form {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 1em;
}

.contact form label {
display: block;
}

.contact form .full {
grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea {
width: 100%;
padding: 1em;
border: 1px solid lightgray;
}

.contact form button {
background: rgba(205,133,63,0.8);
color: white;
border: 0;
cursor: pointer;
text-transform: uppercase;
transition: all ease-in-out 300ms;
-webkit-transition: all ease-in-out 300ms;
-moz-transition: all ease-in-out 300ms;
-o-transition: all ease-in-out 300ms;
}

.contact form button:hover {
background: rgba(205,133,63,1);
}

.contact form button:focus {
background: rgba(205,133,63,1);
}


/* Footer Section*/


.footer {
text-transform: capitalize;
color: rgba(205,133,63,1);
padding: 2em;
}

.footer-wrapper {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}

.media-icons {
display: flex;
flex-direction: row;
padding: 1.5em;
}

.icon-style {
border: 5px solid rgba(205,133,63,1);
border-radius: 50%;
background-color: whitesmoke;
text-decoration: none;
text-align: center;
width: 125px;
height: 125px;
padding: 1.7em;
margin: 2em;
}

.icon-style i {
font-size: 60px;
color: rgba(205,133,63,1);
transition: transform ease-in-out 300ms;
-webkit-transition: transform ease-in-out 300ms;
-moz-transition: transform ease-in-out 300ms;
-o-transition: transform ease-in-out 300ms;
}

.icon-style i:hover, .icon-style:focus {
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
}

.footer-text {
font-size: 1em;
}

/*Media Queries*/



@media only screen and (min-width: 600px) {

.about p {
font-size: 1.3em;
padding: 1em;
}
    
.skills-content {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
    
.individual-skills i {
font-size: 5em;
}

.individual-skills p {
font-size: 1.5em;
}
    
.swiper-button {
font-size: 1em;
width: 150px;
}
    
}

@media only screen and (min-width: 700px) {
.wrapper {
display: grid;
grid-template-columns: 1fr 2fr;
}
    
.wrapper > * {
padding: 2em;
}
    
.company-info h3, .company-info ul {
text-align: left;
margin: 0;
}
    
.company-info img {
display: inherit;
}
    
}

@media only screen and (min-width: 985px) {
    
.header-content {
font-size: 1.3em;
bottom: 4.5em;
right: 0.5em;
}
    
.about {
flex-direction: row;
align-items: center;
padding: 3em;
}
    
.about-content {
flex-direction: column;
}
    
.about p {
text-align: center;
}
    
.footer-wrapper {
flex-direction: row;
justify-content: center;
}
    
.footer-text {
font-size: 1.2em;
}
    
}

@media only screen and (min-width: 1200px) {
    
.header-content {
font-size: 1.5em;
bottom: 5em;
right: 0.5em;
}
    
.individual-skills {
margin: 2em;
}
    
.individual-skills i {
font-size: 8em;
}
    
.individual-skills p {
font-size: 1.2em;
padding: 1em;
}
    
.swiper-container {
width: 90vw;
height: 80vh;
}
    
.swiper-button {
font-size: 1.5em;
width: 200px;
}
    
.contact form button {
font-size: 1em;
}
    
}


@media only screen and (min-width: 1500px) {
    
h2 {
font-size: 7em;
}
    
.about h2 {
padding: 0;
}
    
.about p {
font-size: 1.6em;
padding: 2em;
}
    
.swiper-container {
height: 90vh;
}

}





